APP_NAME=Duug Styles
APP_URL=http://localhost:3000
APP_PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_NAME=duugstyles
DB_USER=root
DB_PASS=password

SESSION_SECRET=change_me

ASAAS_BASE_URL=https://sandbox.asaas.com/api/v3
ASAAS_API_KEY=
ASAAS_ENV=sandbox

MELHOR_ENVIO_BASE_URL=https://sandbox.melhorenvio.com.br/api/v2
MELHOR_ENVIO_TOKEN=
MELHOR_ENVIO_ENV=sandbox

STORE_ZIPCODE=01001000
STORE_ADDRESS=Rua Exemplo
STORE_NUMBER=123
STORE_CITY=Sao Paulo
STORE_STATE=SP
